/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --color-text-primary: #FF8DCB;
  --color-text-secondary: #FFC2E6;
  --color-background-primary: #FFF1F7;
  --accent-color: #FF8DCB;
  --color-text-paragraph: #353430;
  --color-decorated-item: #353430;
  --color-menu-button: #353430;
  --color-title-text: #353430;
  --color-subtitle-text: #353430;
  --color-title-background: #FF8DCB;
  --color-link-shadow: #FF8DCB;

  --background-image: url('../images/cover-image-light.png');

}

@media (prefers-color-scheme: light) {
  :root.theme-auto {
    --color-text-primary: #FF8DCB;
    --color-text-secondary: #FFC2E6;
    --color-background-primary: #FFF1F7;
    --accent-color: #FF8DCB;
    --color-text-paragraph: #353430;
    --color-decorated-item: #353430;
    --color-menu-button: #353430;
    --color-title-text: #353430;
    --color-subtitle-text: #353430;
    --color-title-background: #FF8DCB;
    --color-link-shadow: #FF8DCB;

    --background-image: url('../images/cover-image-light.png');
  }
}

:root.theme-light .header__decorated-item {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root.theme-auto .header__decorated-item {
    display: none;
  }
}