/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --color-text-primary: #FF8DCB;
  --color-text-secondary: #FF8DCB;
  --color-background-primary: #FFF1F7;
  --accent-color: #FF0070;
  --color-text-paragraph: #353430;

  --backround-image: url('../images/cover-image-light.png');
}

@media (prefers-color-scheme: light) {
  .header__theme-menu-button_active {
    pointer-events: none
  }
}