:root {
  --color-text-primary: #FF0070;
  --color-text-secondary: #DB00FF;
  --color-background-primary: #000028;
  --accent-color: #FF0070;
  --color-text-paragraph: #F1B2CE;

  --title-h1-font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
}