:root {
  --color-text-primary: #FF0070;
  --color-text-secondary: #DB00FF;
  --color-background-primary: #000028;
  --accent-color: #FF0070;
  --color-text-paragraph: #F1B2CE;

  --backround-image: url('../images/cover-image-dark.png');

  --title-h1-font-size-mobil: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  --title-h1-font-size-screen: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem)
}